version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    groups:
      cargo-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
