[package]
name = "srt_whep"
description = "SRT to WHEP (WebRTC)"
repository = "https://github.com/Eyevinn/srt-whep"
license = "Apache-2.0"
version = "1.0.1"
authors = ["Kun Wu <kun.wu@eyevinn.se>"]
edition = "2021"
exclude = [
  "docs/*",
]

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "srt-whep"

[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
serde = "1.0.115"
config = { version = "0.13", default-features = false, features = ["yaml"] }
uuid = { version = "1", features = ["v4"] }
chrono = { version = "0.4.22", default-features = false, features = ["clock"] }
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
log = "0.4"
tracing = "0.1.19"
tracing-subscriber = { version = "0.3", features = ["registry", "env-filter"] }
tracing-bunyan-formatter = "0.3.1"
tracing-log = "0.1.1"
thiserror = "1.0.24"
serde-aux = "4"
unicode-segmentation = "1.7.1"
anyhow = "1.0.40"
validator = "0.16"
tracing-actix-web = "0.7"
secrecy = { version = "0.8", features = ["serde"] }
futures = "0.3.28"
glib = "0.17.10"
gstreamer = "0.20.5"
gstreamer-pbutils = "0.20.5"
gst-plugin-webrtchttp = "0.10.8"
clap = { version = "4.3.0", features = ["derive"] }
actix-cors = "0.6.4"
serde_json = "1.0.61"
derive_more = "0.99.17"
toml = "0.7.5"
timed-locks = "0.1.1"
async-trait = "0.1.71"

[dev-dependencies]
once_cell = "1.7.2"
claims = "0.7.0"
wiremock = "0.5"
reqwest = { version = "0.11", features = ["json"] }
